.hidden {
  display: none !important;
}

.rotate-90 {
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
}

.green {
  color: green;
  background-color: green !important;
}
.yellow {
  color: yellow;
  background-color: yellow !important;
}
.red {
  color: red;
  background-color: red !important;
}
.black {
  color: green;
  background-color: green !important;
}
.white {
  color: white;
  background-color: white !important;
}
.lightblue {
  color: lightblue;
  background-color: lightblue !important;
}
.orange {
  color: orange;
  background-color: orange !important;
}
.blue {
  color: blue;
  background-color: blue !important;
}
