body {
  background-color: var(--lightest-gray);
}

header.header {
  display: grid;
  place-items: center;
  background-color: #282c34;
  min-height: 8vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  min-height: 87vh;
}

.events-container {   
  border-right: 1px solid var(--background-color);
}

.chat-container {   
  border-left: 1px solid var(--background-color);
}

.events-container, .chat-container {
  width: 15vw;
  overflow-y: auto;
  scrollbar-width: thin;
  height: 87vh;
}

.game-container {
  padding: 0.5rem;
  width: 70vw;
}

footer.footer {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--background-color);
  color: white;
  font-size: 0.8rem;
  padding: 0 1rem;
}

