$lightest-gray: hsl(0, 0%, 96%);
$modal-background: hsla(0, 0%, 76%, 0.7);
$light-gray: hsl(0, 0%, 76%);
$medium-gray: hsl(0, 0%, 46%);
$dark-gray: hsl(0, 0%, 5%);
$accent-color: hsl(0, 100%, 40%);
$animation-duration: 200ms;
$animation-timing-curve: ease-in-out;

$paddle-height: 10rem;
$paddle-width: $paddle-height * 4.5;
$card-width: 6rem;
$card-height: $card-width * 1.39;
